<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant for review">
    <meta name="theme-color" content="#373A40" />
    <title>Seputar Restoran</title>
    <link rel="icon" href="images/icon.png">
    <link rel="apple-touch-icon" href="images/icon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body>

    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <nav-bar>
    </nav-bar>



    <div class="hero">
        <picture class="lazyload">
            <source media="(max-width: 600px)" srcset="/images/heros/hero-image_mobile.jpg" type="image/jpg">
            <source media="(max-width: 800px)" srcset="/images/heros/hero-image_tablet.jpg" type="image/jpg">
            <img src="/images/heros/hero-image_2.jpg" alt="hero">
        </picture>

        <div class="hero-inner">
            <h2 class="hero-title text-shadow">Seputar Restoran</h2>
            <p class="hero-tagline text-shadow">Seseorang tidak dapat berpikir dengan baik, tidur dengan nyenyak, jika
                seseorang tidak makan dengan baik</p>
        </div>


    </div>


    <main-content></main-content>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/8.8.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="/__/firebase/8.8.0/firebase-analytics.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

</body>

<footer>
    <p>Copyright © 2021 - Seputar Restoran</p>
</footer>

</html>