<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seputar Restoran</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<imnpm             Dicoding's Blog
        </h1>
    </div>
    <a id="menu" class="header-menu">☰</a> -->
    <!-- </header> -->
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- <nav class="nav">

        <a id="menu" class="header-menu">☰</a>
        <div class="header"> -->
    <!-- <div class="nav__item"> -->
    <!-- <h1 class="header-title">
                Seputar Restoran
            </h1> -->
    <!-- </div> -->
    <!-- </div>
        <ul id="drawer" class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item"><a href="https://github.com/muzakkiMaulana/">About Us</a></li>
        </ul>
    </nav> -->

    <nav-bar>
    </nav-bar>


    <!-- <img src="./images/heros/hero-image_2.jpg" width="450" alt=""> -->

    <div class="hero">

        <div class="hero-inner">
            <h2 class="hero-title text-shadow">Seputar Restoran</h2>
            <p class="hero-tagline text-shadow">Seseorang tidak dapat berpikir dengan baik, tidur dengan nyenyak, jika
                seseorang tidak makan dengan baik</p>
        </div>

        <div class="hero-inner">
            <div class="hero-container">
                <div class="card-hero">
                    <img tabindex="0" src="./images/chef/chef-image_1.jpeg" alt="Avatar">
                    <div class="card-container">
                        <h4 tabindex="0"><b>John Doe</b></h4>
                        <p tabindex="0">Architect & Engineer</p>
                    </div>
                </div>

                <div class="card-hero">
                    <img tabindex="0" src="./images/chef/chef-image_2.jpg" alt="Avatar">
                    <div class="card-container">
                        <h4 tabindex="0"><b>John Doe</b></h4>
                        <p tabindex="0">Architect & Engineer</p>
                    </div>
                </div>
                <div class="card-hero">
                    <img tabindex="0" src="./images/chef/chef-image_3.jpg" alt="Avatar">
                    <div class="card-container">
                        <h4 tabindex="0"><b>John Doe</b></h4>
                        <p tabindex="0">Architect & Engineer</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- <main id="maincontent">
        <section class="content">
            <div class="daftar-restoran">
                <h3 class="daftar-restoran-label">Daftar Restoran</h3>
                <div class="container" id="data-restoran">


                </div>
            </div>
        </section>
    </main> -->

    <main-content></main-content>

    <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
</body>

<footer>
    <p>Copyright © 2021 - Seputar Restoran</p>
</footer>

</html>